<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/toolbarTheme"
        android:name="com.ryokusasa.cut_in_app.UtilCommon">
        <activity android:name="com.ryokusasa.cut_in_app.activity.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ryokusasa.cut_in_app.activity.sel_cut_in.SelCutInActivity"
            android:parentActivityName="com.ryokusasa.cut_in_app.activity.main.MainActivity"/>
        <activity android:name=".activity.cut_in_editer.CutInEditerActivity"/>
        <service android:name="com.ryokusasa.cut_in_app.cut_in.cut_in_view.CutInService"/>

    </application>

</manifest>